@CHARSET "ISO-8859-1";

body
{
	text-align:			center;
}

body
{
	text-align:			-moz-center;
	background-image:	url('images/fond.png');
	font-family: 		Georgia, Arial, sans-serif;
    color: 				#181818;
}

.Header
{
	font-family: 		Georgia, serif;
    font-size: 			4em;
    font-weight: 		normal;
}

#LoginFailed
{	
	color: 				red;
}